@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply transition-colors duration-300;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }
}

 
::-webkit-scrollbar {
  width: 40px;  
}

::-webkit-scrollbar-track {
  background: #000000;  
}

::-webkit-scrollbar-thumb {
  background-color: #0E9DB8;  
  border-radius: 2px;  
}

/* Firefox */
* {
  scrollbar-color: #0E9DB8 #111827;  
}

 /* Seleção de texto personalizada */
  ::selection {
    background-color: #0E9DB8;  
    color: #ffffff;   
  }